@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional custom styles */
::-webkit-scrollbar {
  display: none;
}

* {
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}